# EditorConfig is awesome: https://editorconfig.org
# Inspiration: https://github.com/whatwg/html/blob/main/.editorconfig

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
